.forget-password-form {
    width: 94%;
    max-width: 350px;
    margin: 0 auto;
}
.forget-password-form > .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #28A745;
    padding: 20px;
}
.forget-password-form > .send-btn {
    background-color: #28A745;
    border: none;
    border-radius: 0px;
    color: white;
    width: 10rem;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
}
.forget-password-form input {
    width: calc(100% - 20px);
    border: none; 
    outline: none;
}
.forget-password-form > .form-control > svg {
    font-size: 14px;
}
.forget-password-form > .form-control > .eye-open { color: #161616; }
.forget-password-form > .form-control > .eye-closed { color: #afafaf; }