.meetup-all-container {
    position: relative;
}

.meet-up-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
}

.meet-up-container .meet-up-card>.contents {
    gap: 6px;
}